{% extends 'layout/layout.html.twig' %}

{% block page_title %}{% endblock %}
{% block page_description %}{% endblock %}

{% block content %}
    {# Forest banner #}
    <div class="bg-woods py-4 py-md-5">
        <div class="container-md">
            <h1 class="text-white">
                <small>Roger Beer</small><br>
                Ingénieur Forestier EPFZ/SIA
            </h1>
            <div class="row">
                <p class="col-sm-10 col-md-6 mb-4 mb-md-5 mb-lg-6 text-white fs-5 fst-italic">
                    Pour gérer durablement vos arbres, vos espaces forestiers ou votre jardin
                </p>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="leaf-card mb-3 mb-md-0">
                    <div class="h4 text-yellow">Séquoia & Gardens</div>
                    <p class="m-0">
                        <a class="stretched-link text-offwhite text-decoration-none" href="{{ path('prestations') }}">Mon bureau d’ingénieur</a>
                        pour tous vos projets de gestion d’espace forestier ou de jardin.
                    </p>
                </div>
                <div class="leaf-card mb-3 mb-md-0">
                    <div class="h4 text-yellow">Plus de 30 ans d'expérience</div>
                    <p class="m-0">
                        De la réalisation de projet à la formation, dans le publique et le privé,
                        <a class="stretched-link text-offwhite text-decoration-none" href="{{ path('biographie') }}">jetez un oeil à mon parcours</a>.
                    </p>
                </div>
                <div class="leaf-card">
                    <div class="h4 text-yellow">Demandez un devis</div>
                    <p class="m-0">
                        Vous avez un besoin particulier ?
                        <a class="stretched-link text-offwhite text-decoration-none" href="{{ path('contact') }}">Faites-le moi savoir</a>
                        et je vous proposerai une solution adaptée.
                    </p>
                </div>
            </div>
        </div>
    </div>

    {# Prestations #}
    <section class="bg-dark text-offwhite py-4" aria-labelledby="mes-prestations">
        <div class="container-md">
            <div class="row">
                <div class="col-lg-2">
                    <h2 class="h4 text-white" id="mes-prestations">Mes prestations</h2>
                </div>
                <div class="col-md-8 col-lg-6 col-xl-7">
                    <p class="h2 text-white">Ingénieur forestier EPFZ/SIA</p>
                    <p>
                        Vous avez un jardin, vous chérissez vos arbres et arbustes,
                        vous possédez un lopin de forêt, votre terrasse manque de verdure,
                        votre entreprise ou votre commune veut développer des actions
                        en faveur de la protection de l’environnement, les principes
                        du développement durable vous interpellent ? Nous avons
                        des points communs et avec <em>Séquoia & Gardens</em>, mon bureau
                        d’ingénieur forestier EPFZ/SIA consultant, je suis persuadé
                        de pouvoir vous aider et vous conseiller.
                    </p>
                    <p>
                        Le nom de mon bureau indique que mes interventions concernent
                        autant les arbres ornementaux et les jardins que les forêts
                        et l'environnement. Je travaille en partenariat avec le
                        bureau <em>ECOTEC-ENVIRONNEMENT SA</em> de Genève.
                    </p>
                    <a class="d-inline-block mb-3 fs-5" href="{{ path('prestations') }}">En savoir plus sur le rôle de l’ingénieur forestier</a>
                </div>
                <div class="col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-0 col-xl-3 align-self-center">
                    <img class="w-100" src="{{ asset('build/images/logo-sequoia-and-gardens.svg') }}"
                        alt="Logo du bureau d'ingénieur Séquoia & Gardens">
                </div>
            </div>
        </div>
    </section>

    {# Qui suis-je #}
    <section class="bg-bark py-4" aria-labelledby="qui-suis-je">
        <div class="container-md">
            <div class="row">
                <div class="col-lg-2">
                    <h2 class="h4" id="qui-suis-je">Qui suis-je</h2>
                </div>
                <div class="col-md-8 col-lg-6 col-xl-7">
                    <p class="h2">Roger Beer</p>
                    <p>
                        Après plus de 20 ans à la tête des espaces verts de la Ville
                        de Genève, mon expérience en matière d’arbres, de forêts,
                        de paysagisme, d’horticulture et d’environnement est à votre
                        disposition.
                    </p>
                    <p>
                        En tant que consultant et expert, j’entends apporter un
                        point de vue original et expérimenté sur les problèmes que
                        l'on rencontre dans l'entretien d'un jardin, le développement
                        d'une collection d'arbres, la gestion de la forêt ou des
                        espaces verts (publics et privés), la création d'un parc
                        naturel ou les aménagements extérieurs d'une construction
                        (immeuble ou maison individuelle).
                    </p>
                    <a class="d-inline-block mb-3 fs-5 link-dark" href="{{ path('biographie') }}">En savoir plus à mon sujet</a>
                </div>
                <div class="col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-0 col-xl-3 align-self-center">
                    <img class="mw-100 rounded-circle shadow" src="{{ asset('build/images/photo-roger-beer.jpg') }}" alt="Photo de Roger Beer">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
