{% extends 'layout/layout.html.twig' %}

{% block page_title %}Contacter Roger Beer, ingénieur forestier EPFZ/SIA{% endblock %}
{% block page_description %}Envoyez un message à Roger Beer ou découvrez ses coordonnées de contact.{% endblock %}

{% form_theme form 'form/custom_bootstrap_5_layout.html.twig' %}

{% block content %}
    <section class="bg-phone-wood py-5 py-lg-6 text-white text-shadow-lg">
        <div class="container-md">
            <h1 data-animation="fadeInUp">
                Faites-moi part de votre projet
            </h1>
            <p class="col-sm-10 col-md-6 fs-5 fst-italic" data-animation="fadeInUp">
                N'hésitez pas à me contacter pour demander un devis ou un rendez-vous.
            </p>
        </div>
    </section>

    <div class="bg-bark pt-5 pb-md-5">
        <div class="container-md">
            <div class="row gy-5 gx-xxl-5">

                {# Form column #}
                {{ form_start(form, { action: path('contact'), attr: {
                    id: 'contactForm',
                    class: 'col-md-6' ~ (form.vars.submitted ? ' was-validated'),
                    novalidate: true,
                } }) }}
                    <h2 class="mb-3" data-animation="fadeInUp">Envoyez moi un message</h2>
                    {{ form_errors(form) }}
                    {%- for message in app.flashes('contactSuccess') %}
                        <div class="alert alert-success" role="alert">
                            {{- message -}}
                        </div>
                    {%- endfor %}
                    <div class="row gy-2 gy-sm-3">
                        {{ form_row(form.firstName, {
                            row_attr: { class: 'col-sm-6' },
                            label: 'Prénom',
                            invalid_feedback_message: 'Veuillez saisir votre prénom.',
                        }) }}
                        {{ form_row(form.lastName, {
                            row_attr: { class: 'col-sm-6' },
                            label: 'Nom',
                            invalid_feedback_message: 'Veuillez saisir votre nom.',
                        }) }}
                        {#- Honeypot field #}
                        {{ form_row(form.email_address) }}
                        {{ form_row(form.email, {
                            row_attr: { class: 'col-sm-6 col-md-12 col-lg-6' },
                            label: 'Adresse e-mail',
                            invalid_feedback_message: 'Veuillez saisir une adresse e-mail valide.',
                        }) }}
                        {{ form_row(form.phone, {
                            row_attr: { class: 'col-sm-6 col-md-12 col-lg-6' },
                            label: 'Téléphone',
                            invalid_feedback_message: 'Veuillez saisir un numéro de téléphone valide.',
                        }) }}
                        {{ form_row(form.message, {
                            row_attr: { class: 'col-12' },
                            label: 'Message',
                            attr: { rows: 5 },
                            invalid_feedback_message: 'Veuillez saisir votre message.',
                        }) }}
                        <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                            <input class="btn-leaf w-100" type="submit" role="button" value="Envoyer">
                        </div>
                        <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                            <p class="mb-0 fs-7 text-muted text-center text-sm-start text-md-center text-lg-start">
                                Aucune donnée personnelle envoyée via ce formulaire ne sera conservée.
                            </p>
                        </div>
                    </div>
                {{ form_end(form) }}

                {# Contact info column #}
                <section class="col-md-6 contact-info-column">
                    <h2 class="mb-3 text-md-center text-xxl-start" data-animation="fadeInUp">Mes coordonnées</h2>

                    <div class="row justify-content-center gx-xl-0">
                        <div class="col-auto d-flex">
                            <div class="contact-label">Adresse</div>
                            <address class="contact-address text-nowrap">
                                {% block contact_address -%}
                                    <strong>Roger Beer</strong><br>
                                    Séquoia and Gardens<br>
                                    Chemin de la Creuse 5G<br>
                                    CH - 1261 Marchissy (VD)
                                {%- endblock %}
                            </address>
                        </div>
                        <div class="col-auto">
                            <div class="d-flex">
                                <div class="contact-label">Téléphone</div>
                                <address class="contact-address phone-number">
                                    {% block contact_phone_number -%}
                                        {% set phone_number = '+41 79 213 46 01' %}
                                        {%- if detector.isMobile -%}
                                            <a href="tel:{{ phone_number|url_encode }}">{{ phone_number }}</a>
                                        {%- else -%}
                                            {{ phone_number }}
                                        {%- endif -%}
                                    {%- endblock %}
                                </address>
                            </div>
                            <div class="d-flex">
                                <div class="contact-label">E-mail</div>
                                <address class="contact-address">
                                    {% block contact_email -%}
                                        <a class="contact-email-link" href="#"><noscript>Activez javascript pour voir l'adresse</noscript></a>
                                    {%- endblock %}
                                </address>
                            </div>
                        </div>
                    </div>
                    <hr class="d-md-none" role="presentation">
                </section>

            </div>
        </div>
    </div>
{% endblock %}

{% block footer_content %}{% endblock %}
