{# Based on https://github.com/symfony/symfony/blob/5.3/src/Symfony/Bridge/Twig/Resources/views/Form/bootstrap_5_layout.html.twig #}
{% use 'form_div_layout.html.twig' with widget_attributes as base_widget_attributes %}
{% use 'bootstrap_5_layout.html.twig' %}

{# Add aria-describedby to widgets with invalid feedback #}
{%- block widget_attributes -%}
    {%- if invalid_feedback_message is defined -%}
        {%- set attr = attr|merge({'aria-describedby': (attr['aria-describedby']|default('') ~ ' ' ~ id ~ '_invalid_feedback')|trim}) -%}
    {%- endif -%}
    {{ block('base_widget_attributes') }}
{%- endblock -%}

{# Add invalid feedback div before help messages if needed #}
{%- block form_help -%}
    {%- if invalid_feedback_message is defined -%}
        <div class="invalid-feedback" id="{{ id }}_invalid_feedback">
            {{- invalid_feedback_message -}}
        </div>
    {%- endif -%}
    {{ parent() }}
{%- endblock -%}

{# Form errors #}
{%- block form_errors -%}
    {% for error in errors -%}
        {%- if form is rootform -%}
            <div class="alert alert-danger">{{ error.message }}</div>
        {%- elseif invalid_feedback_message is not defined -%}
            <div class="invalid-feedback" id="{{ id }}_invalid_feedback_{{ loop.index }}">
                {{- error.message -}}
            </div>
        {%- endif -%}
    {%- endfor %}
{%- endblock -%}
