{% extends 'emails/base.html.twig' %}

{% block content -%}
    {% apply inky_to_html %}
        <wrapper class="header">
            <container>
                <row class="collapse">
                    <columns valign="middle">
                        <center>
                            <img width="103" height="80" src="{{ email.image('@images/logo-sequoia-and-gardens.png') }}" role="img" alt="Logo de Séquoia & Gardens" />
                        </center>
                    </columns>
                </row>
            </container>
        </wrapper>

        <container class="content">

            <spacer size="24"></spacer>

            <row>
                <columns>
                    <h1>Nouveau message</h2>
                    <p class="lead">
                        <strong>{{ contact.fullName }}</strong> vous envoi un message.
                    </p>
                    <h2>Ses coordonnées</h2>
                    <p>
                        {{ contact.fullName }}<br />
                        <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                        {% if contact.phone is not empty %}
                            <br />Tél: {{ contact.phone }}
                        {% endif %}
                    </p>
                    <h2>Son message</h2>
                    <callout>
                        <p>{{ contact.message|nl2br }}</p>
                    </callout>
                </columns>
            </row>

            <wrapper class="footer">
                <spacer size="12"></spacer>

                <row>
                    <columns align="center">
                        <p class="text-center">
                            <small>E-mail envoyé par www.roger-beer.com</small>
                        </p>
                    </columns>
                </row>
            </wrapper>

        </container>

    {% endapply %}
{%- endblock %}
