<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#244f24">

    <title>{% block page_title %}Roger Beer - Ingénieur forestier{% endblock %}</title>
    <meta name="description" content="{% block page_description %}{% endblock %}">

    {%~ block og %}
        <meta property="og:title" content="{% block og_title %}{{ block('page_title') }}{% endblock %}">
        <meta property="og:description" content="{% block og_description %}{{ block('page_description') }}{% endblock %}">
        <meta property="og:type" content="{% block og_type %}website{% endblock %}">
        <meta property="og:url" content="{% block og_url %}{{ block('canonical_url') }}{% endblock %}">
        <meta property="og:image" content="{% block og_image %}{# TODO #}{% endblock %}">
        <meta property="og:image:alt" content="{% block og_image_alt %}{% endblock %}">
        <meta property="og:locale" content="fr_FR">
    {%~ endblock %}

    <link rel="canonical" href="{% block canonical_url %}https://www.roger-beer.com{{ path(app.request.attributes.get('_route')) }}{% endblock %}">

    <script>
        document.documentElement.classList.add('js');
    </script>

    {% block stylesheets -%}
        {{ encore_entry_link_tags('app') }}
    {%~ endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
