<!DOCTYPE html>
<html lang="fr">
<head>
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <title>{% block page_title %}Roger Beer - Ingénieur forestier{% endblock %}</title>
    <meta name="description" content="{% block page_description %}{% endblock %}">

    {%~ block og %}
        <meta property="og:title" content="{% block og_title %}{{ block('page_title') }}{% endblock %}">
        <meta property="og:description" content="{% block og_description %}{{ block('page_description') }}{% endblock %}">
        <meta property="og:type" content="{% block og_type %}website{% endblock %}">
        <meta property="og:url" content="{% block og_url %}{{ block('canonical_url') }}{% endblock %}">
        <meta property="og:image" content="{% block og_image %}{{ absolute_url(asset('build/images/logo-opengraph.png')) }}{% endblock %}">
        <meta property="og:image:alt" content="{% block og_image_alt %}Logo de Séquoia & Gardens{% endblock %}">
        <meta property="og:locale" content="{% block og_locale %}fr_CH{% endblock %}">
    {%~ endblock %}

    {% block canonical_link -%}
        {% if block('canonical_url') is not empty -%}
            <link rel="canonical" href="{% block canonical_url %}{{ url(app.request.attributes.get('_route')) }}{% endblock %}">
        {%- endif %}
    {%- endblock %}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#244f24">
    <meta name="msapplication-TileColor" content="#244f24">

    <script>
        {# Set 'window.isMobile' and add the 'js' class to the <html> element
           if not on mobile and if javascript is enabled -#}
        window.isMobile = {{ detector.isMobile ? 'true' : 'false' }};
        if (!window.isMobile) {
            document.documentElement.classList.add('js');
        }
    </script>

    {% block stylesheets -%}
        {{ encore_entry_link_tags('app') }}
    {%~ endblock %}

    {% block javascripts -%}
        {{ encore_entry_script_tags('app') }}
    {%~ endblock %}
{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
